*{
    margin: 0px;
    padding: 0px;
    font-family: 'Space Mono', monospace;
}
.logo{
    padding-top: 40px;
    margin-left: 77px;
    color: #333;
font-family: Inconsolata;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: -1.92px;
text-transform: uppercase;
}
.container{
    display: flex;
    height: 80vh;
    justify-content: space-around;
    align-items: center;
    padding-top: 60px;
    padding-right: 119px;
    gap: 10px;
}
.image {
    width:50%;

}
img {
   height: 500px;
   width: 500px;
   padding-left: 55px;
}
.description > p{
 width: 286.83px;

margin-top: 30px;
}
.description>h1{
    color: var(--gray-1, #333);
font-family: Space Mono;
font-size: 64px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: -2.24px;
}
.btn{
    padding: 23px 43px;
    margin-top: 30px;
    background: var(--gray-1, #333);
    color: #FFF;
border: 0px;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: normal;
/* letter-spacing: -0.49px; */
text-transform: uppercase;
}